<main class="container mx-auto mt-6 space-y-6">

  <comp-breadcumb [links]="[{text:'Tasks'}]" />
  <comp-page-title title="Tasks" text="Gerencie suas tasks.">
    <comp-toolbar
      content
      [markdown]="markdown"
      (fileLoaded)="onFileLoaded($event)"
    ></comp-toolbar>
  </comp-page-title>


  <div class="flex flex-col justify-center w-full mb-16 space-y-3 md:space-y-0 md:justify-between md:space-x-3 md:flex-row">
    <div class="md:w-1/2 h-[100vh] overflow-auto">
      <comp-editor (markdownChange)="onMarkdownChange($event)"></comp-editor>
    </div>
    <div class="md:w-1/2 h-[100vh]  overflow-auto">
      <comp-preview [markdown]="markdown"></comp-preview>
    </div>
  </div>

</main>
