
@use 'fonts.scss';
@use 'material-icons';
@use 'theme';

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark body{
  color: #fff;
}

body{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
  line-height: 1.5 !important;
  font-size: 14px;
}



/* Chrome, Edge e Safari */
::-webkit-scrollbar {
  width: 8px;       /* largura da barra vertical */
  height: 8px;      /* largura da barra horizontal */
}

::-webkit-scrollbar-track {
  background: #1e1e1e00; /* fundo da trilha */
  border-radius: 8px;
}
::-webkit-scrollbar-track:hover {
  background: #89898921; /* fundo da trilha */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #838389; /* cor do "thumb" */
  border-radius: 8px;
  border: 2px solid #ffffff00; /* dá efeito de espaço */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #605d5d; /* cor no hover */
}
